<div class="page-header">
  <h3>Target #<%= @target.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>User</dt>
      <dd><%= @target.user_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/targets" class="btn btn-primary">
        Back
      </a>
      <a href="/targets/<%= @target.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_target/<%= @target.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Target has many comments -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Comments
      </li>

      <% @target.comments.each do |comment| %>
        <li class="list-group-item">
          <a href="/comments/<%= comment.id %>">
            <%= comment.content %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/comments/<%= comment.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/comments/<%= comment.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_comment/<%= comment.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_comment" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for content -->
      <div class="form-group">
        <label for="content" class="control-label">
          Content
        </label>

        <input type="text" id="content" name="content" placeholder="Content" class="form-control" value="">
      </div>

      <!-- Label and input for type_id -->
      <div class="form-group">
        <label for="type_id" class="control-label">
          Type
        </label>

        <%= select_tag(:type_id, options_from_collection_for_select(Type.all, :id, :name), :class => "form-control") %>
      </div>

      <!-- Label and input for category_id -->
      <div class="form-group">
        <label for="category_id" class="control-label">
          Category
        </label>

        <%= select_tag(:category_id, options_from_collection_for_select(Category.all, :id, :name), :class => "form-control") %>
      </div>

      <!-- Label and input for source_user_id -->
      <div class="form-group">
        <label for="source_user_id" class="control-label">
          Source user
        </label>

        <%= select_tag(:source_user_id, options_from_collection_for_select(Source.all, :id, :user_id), :class => "form-control") %>
      </div>

      <!-- Label and input for target_user_id -->
      <div class="form-group">
        <label for="target_user_id" class="control-label">
          Target user
        </label>

        <%= select_tag(:target_user_id, options_from_collection_for_select(Target.all, :id, :user_id), :class => "form-control") %>
      </div>

      <button class="btn btn-block btn-success">
        Create Comment
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
