<div class="page-header">
  <h3>Flag #<%= @flag.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>User</dt>
      <dd><%= @flag.user_id %></dd>

      <dt>Comment</dt>
      <dd><%= @flag.comment_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/flags" class="btn btn-primary">
        Back
      </a>
      <a href="/flags/<%= @flag.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_flag/<%= @flag.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
